# 前端
frontend/node_modules
frontend/dist
frontend/.env.local
frontend/.env.*.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*

# 后端
backend/data/*.db
backend/uploads/
backend/tmp
backend/*.exe
backend/*.exe~
backend/*.dll
backend/*.so
backend/*.dylib

# 数据与运行时
data/

# 编辑器与 IDE
.cursor/
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw? 
node_modules
